<div class="container">
    <h1 class="cookbook-title">Your cookbook</h1>
    <p>Add your favourite recipes to your cookbook to use as an dinner inspiration for later.</p>

    <section class="all-dishes" *ngIf="favourites !== null || favourites !== undefined">
        <div class="dish-box" *ngFor="let dish of favourites, let i = index">
            <button class="favs-button button" (click)="removeFromFavourites(i)">Remove</button>
            <img src="{{dish.strMealThumb}}" alt="{{dish.strMeal}}">
            <div class="details-box">
                <h2 class="dish"
                    routerLink="/category/{{dish.strCategory}}/{{removeWhitespace(dish.strMeal).toLowerCase()}}/{{dish.idMeal}}">
                    {{dish.strMeal}}</h2>
            </div>
        </div>
    </section>

    <app-recommend-recipe></app-recommend-recipe>
</div>