.container {
    margin-top: 100px;
}

p {
    font-size: 18px;

    margin-top: 16px;
    text-align: center;
}

.dish-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 340px;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
}

.all-dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dish {
    font-size: 16px;
    font-weight: 600;
    transition: .1s ease-in-out;
}

.cookbook-title{
    display: flex;
    justify-content: center;
}

img {
    width: 98%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 44px -6px rgba(209, 209, 209, 0.726);
    -moz-box-shadow: 0px 2px 44px -6px rgba(209, 209, 209, 0.726);
    box-shadow: 0px 2px 44px -6px rgba(209, 209, 209, 0.726);
}