.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.all-dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dish-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 340px;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
}
.details-box {
    background-color: #fff;
    box-sizing: border-box;
    padding: 11px;
    border-radius: 16px;
    margin-top: -50px;
    height: 73px;
    width: 98%;
    cursor: pointer;
    opacity: 0.8;
}
.dish {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .1s ease-in-out;
    text-align: center;
    color: #7a7a7a;
}
.dish:hover{
   color : #904e95;
}
.button {
    border-radius: 2px;
    outline: 0;
    border: none;
    background: #fafafa;
    color: #7a7a7a;
    position: relative;
    left: 94px;
    top: 30px;
    opacity: .8;
    cursor: pointer;
}

.button:hover{
    color: #904e95;
}

.favs-button {
    width: 60px;
    padding: 5px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    margin-left: 150px;
}

img {
    width: 98%;
    border-radius: 10px;
}

.list-title{
    display: flex;
    justify-content: center;
    color: #2d0a45;
    font-weight: 600px;
    font-size: 30px;
}