<div class="container">
  <h1 class="list-title">Quick and easy {{category}} recipes</h1>

  <section class="all-dishes" *ngIf="dishes !== null">
    <div class="dish-box" *ngFor="let dish of dishes, let i = index">
      <button class="favs-button button" (click)="saveRecipe(dish.idMeal)">Save</button>
      <img src="{{dish.strMealThumb}}" alt="{{dish.strMeal}}">
      <div class="details-box"
        routerLink="/category/{{category}}/{{removeWhitespace(dish.strMeal).toLowerCase()}}/{{dish.idMeal}}">
        <h2 class="dish">
          {{dish.strMeal}}</h2>
      </div>
    </div>
  </section>
</div>
